body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    background: rgb(233, 231, 238);
  }
  h1{
    font-size: 2em;
  }
  p{
    font-size:1em;
  }
#banner {
    background-image: url(images/donation4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    height: 720px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
}
#banner p{
    font-size:40px;
    background: rgba(0, 0, 0, 0.345);
    width: 70%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 30px;
    padding: 10px;
}
#banner h1{
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 100px;
    background: rgba(0, 0, 0, 0.345);
}
.btn{
    
    background-image: linear-gradient(rgb(131, 22, 233), rgb(234, 0, 255));
    padding: 20px;
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
}
.title{
    margin: auto;
    text-align: center;
    width: 80%;
}
.title h1{
    font-size:50px;
}
.title p{
    font-size:25px;
}
    
 .donate-details{
    width: 1270px;
    text-align: center;
    font-size: 1.5em;
    margin: auto;
    margin: 150px;
 }   
 .donate-amount{
    display: flex;
    padding: 20px;
    margin-left: 150px;
    margin-bottom: 50px;
 }
 .amount{
    font-size: 30px;
    font-weight: bold;
    padding: 40px;
    margin: 0 10px;
 }   
 .active{
    background: white;
    border:3px solid rgb(55, 71, 78);
    border-radius: 5px;
 }
 .input-form{
    text-align: center;
    width:80%;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;

 }
.flexible-section {
    display: flex;
    margin: auto;
    padding: 40px;
    width: 1270px;
    margin-bottom: 60px;
  }
  .half-width {
    width: 50%;
    margin-right: 100px;
    font-weight: 700px;
  }
  .manage-globel {
    width: 100%;
    padding-top: 50px;
    font-size: 1em;

  }

  .mission {
    text-align: center;
    margin-top: 100px;
    font-size: 35px;
  }
  .single-mission-area {
    width: 400px;
    width: 353px;
    margin-right: 25px;
    border-radius: 10px;
    padding: 20px;
  }
  .single-mission-area img {
    max-width: 30%;
  }
  .color1 {
    background-color: #9ad5e7;
  }
  .color2 {
    background-color: pink;
  }
  .color3 {
    background-color: rgb(228, 125, 107);
  }
  .update{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 2em;
  }
  .subscribe {
    padding: 100px 20px;
    background:rgba(231, 162, 150, 0.455);
    border-radius: 10px;
    margin: 50px 0px ;
  }

  footer{
   color:white;
    background: #000;
    text-align: center;
    padding: 40px;
  }
  footer h1{
    color :tomato;
  }